#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}
.main-body {
    margin-left: 15%;
    margin-right: 15%;
}
.card-main-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: baseline;
}
body {
    min-height:100vh; 
    display:flex; 
    flex-direction:column; 
    justify-content:space-between; 
}